html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-items {
  padding: 10px;
  background-color: #363A44;
}

#map {
  margin-top: 0;
  position: absolute;
  height: 86%;
  width: 97.5%;
}

#pano {
        width: 200px;
        height: 200px;
      }
