html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-items {
  padding: 10px;
  background-color: #363A44;
}


#map {
  width:100%;
  height:90%;
  border:4px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;

}

#pano {
  width: 200px;
  height: 200px;
}

.filter-text {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.list-item {
  margin: 10px 0 10px -30px;
}

.wiki-container {
  width: 200px;
}
